body {
 
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.navbar li a, .navbar .navbar-brand {
    color: #00ccff !important;
}


.navbar {
    margin-bottom: 0;
    background-color: #0066cc;
    border: 0;
    font-size: 18px !important;
    letter-spacing: 2px;
    opacity: 0.9;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.dropdown-submenu {
    position: relative;
}

.errorMessage {
    font-weight: bold;
    color: red;
}

/*.error {
    display: none;
    color: red;
}*/
.dropdown-submenu>.dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}