
    <div class="container">
         
        {% for p in list %}
            <div class="col-xs-12 col-md-5">

                <!-- First product box start here-->
                <div class="prod-info-main prod-wrap clearfix">

                    <div class="row">

                        <div class="col-md-5 col-sm-12 col-xs-12">

                            <div class="product-image">

                                <img src="/{{p.imagePath}}" alt="" width="195" height="243" class="img-responsive">

                                <span class="tag2 hot">

                                    Look

                                </span>
                                <span class="tag1">{{p.status}}</span>
                            </div>
                                    
                        </div>

                        <div class="col-md-7 col-sm-12 col-xs-12">

                            <div class="product-deatil">

                                <h5 class="name">

                                    <a href="#">

                                        {{p.name}} 

                                    </a>

                                    <a href="#">

                                        <span>{{p.categoryName}}</span>

                                    </a>                           

                                </h5>

                                <p class="price-container">

                                    <span>${{p.price}}</span>

                                </p>

                                <span class="tag1"></span>

                            </div>

                            <div class="description">

                                <p>{{p.description}} </p>

                            </div>
                            <div class="product-info smart-form">

                                <div class="row">
                                    <div class="col-md-12">                         
                                        <a href="/admin/items/delete/{{p.id}}" class="btn btn-danger">Delete</a>
                                        <a href="/admin/items/edit/{{p.id}}" class="btn btn-info">Edit</a> 
                                         
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!-- end product -->

            </div>
        {% endfor %}

