{% extends "master.html.twig" %}

{% block content %}   

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}  

    <div class="text-center"><h3 >{% if v.id %}Update{% else %}Add{% endif %} Category</h3></div>

    <div class="form">
        <!-- <div id="sendmessage">A category has been added successfully.</div> 
         <div id="errormessage"></div>
        -->
        <form method="post" role="form">

            <div class="form-row">
                <div class="col-md-4"></div>
                <div class="col-md-1">Name</div>
                <div class="col-md-3">        
                    <input type="text" class="form-control" name="name" id="name" placeholder="Description" value="{{v.name}}" />
                    <div class="validation"></div>
                </div>
                <div class=" col-md-4">

                    <input type="submit" value="{% if v.id %}Save{% else %}Add{% endif %} Categpry">
                </div> 
            </div>

            <br><br>

            <div class="row">
                 <div class="col-md-4"></div>
                
                
            </div>
        </form>

    </div>

{% endblock%}
