{% extends "master.html.twig" %}
{% block headAdd %}
    

</script>
{% endblock %}

{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}


    <h3 class="text-center">{% if v.id %}Update{% else %}Add New{% endif %} Item</h3>
    <div class="form m-b-5">


        <form action="" method="post" role="form" class="contactForm" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-3">
                    Name <input type="text" name="name" class="form-control" id="name" placeholder="Item Name" value="{{v.name}}" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                </div>
                <div class="form-group col-md-3">
                    Description <input type="text" class="form-control" name="description" id="description" placeholder="Description" value="{{v.description}}" />
                    <div class="validation"></div>
                </div>
                <div class="col-md-3"></div> 
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-3">
                    Category <select class="form-control" name="category" id="category">
                        <option>Select Category</option>
                        {% for category in categoriesList %}
                            {% if category.id == v.categoryId %}
                                {% set isCategorySelected = 'selected' %}
                            {% else %}
                                {% set isCategorySelected = '' %}
                            {% endif %}
                            <option {{isCategorySelected}} value={{category.id}} >{{category.name}}</option>
                        {% endfor %}
                    </select>             
                </div>                                         
                <div class="form-group col-md-3">
                    Brand <input type="text" class="form-control" name="brand" data-rule="required" data-msg="Please write something for us" placeholder="Brand" value="{{v.brand}}"/>
                    <div class="validation"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-3">
                    Status <select  class="form-control" name="status" id="status">
                        <option>Select Status</option>
                        {% for status in statusList %}
                            {% if status == v.status %}
                                {% set isStatusSelected = 'selected' %}
                            {% else %}
                                {% set isStatusSelected ='' %}
                            {% endif %}
                            <option {{isStatusSelected}} value={{status}} > {{status}}</option>
                        {% endfor %}
                    </select>
                </div>       
                <div class="form-group col-md-3">
                    Color <input type="color" name="color" value={{v.color}}>             
                </div>

                <div class="col-md-3 form-group"><input id="save"  type="submit" value="{% if v.id %}Save{% else %}Add{% endif %} Item"></div>
            </div>

            <div class="row">
                <div class="col-md-3"></div>  
                <div class="form-group col-md-3">
                    Size <select id="selectSize" class="form-control" name="size" id="size">
                        <option>Select Size</option>
                        {% for size in sizeList %}
                            {% if size == v.size %}
                                {% set isSizeSelected = 'selected' %}
                            {% else %}
                                {% set isSizeSelected = '' %}
                            {% endif %}
                            <option {{isSizeSelected}} value= {{size}} >{{size}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-3">
                    Price <input type="text" class="form-control" name="price" data-rule="required" data-msg="Please write something for us" placeholder="$Price" value="{{v.price}}"/>
                    <div class="validation"></div>
                </div>


            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="form-group col-md-3">
                    Units in Stock <input type="text" class="form-control" name="unitsInStock" data-rule="required" data-msg="Please write something for us" placeholder="Units In Stock" value="{{v.unitsInStock}}"/>
                    <div class="validation"></div>
                </div>
                <div class="form-group col-md-3">
                    Image <input id="uploadCaptureInputFile" class="form-control" type="file" name="image">
                    {% if v.id %}<img src="/{{v.imagePath}}"  alt="select image">{% endif %}
                </div> 
                <div class="col-md-3"></div>

            </div>
            <div class="row">
                <div class="col-md-3"></div> 

            </div>
        </form>
    </div>

{% endblock %}

