{% extends "master.html.twig" %}

{% block title %}admin page{% endblock %}

{% block headAdd %}
    <link rel="stylesheet" href="/css/listing.css">
    <script>
        function loadPage(pageNum) {
            $("#productsView").load('/ajax/admin/items/list/' + pageNum);
        }
        {#   first call     #}
            $(document).ready(function () {
                loadPage(1);
            });
    </script>

{% endblock %}

{% block content %}
    <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-2">
        <a  href="/admin/items/add" class="btn btn-primary">Add New Item</a>
        </div>
        <div class="col-md-2">
         <a  href="/admin/categories/add" class="btn btn-primary">Add New Category</a>
        </div>
        <div class="col-md-4"></div>
    </div> 
    <br>
    {#  the following div will load custom page from items list  #}
    <div id="productsView">

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="product-pagination text-center">
                <nav>
                    <ul class="pagination">                    
                        {% for num in range(1, totalPages) %}
                            <li> <button onClick="loadPage({{num}})">{{num}}</button> </li>
                            {% endfor %}                           
                    </ul>
                </nav>                        
            </div>
        </div>
    </div>


{% endblock content %}
