{% for p in list %}
    <div class="col-md-4 col-sm-6">
        <div class="single-shop-product">
            
            <div class="product-upper">
                <img src="/{{p.imagePath}}" alt="" width="100">
            </div>
            <h2><a onclick="window.location = '/item/details/{{p.id}}';" >{{p.description}}</a></h2>
            <div class="product-carousel-price">
                <ins>${{p.price}}</ins> <del>${{p.prvPrice}}</del>
            </div>  

            <div class="product-option-shop">
                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/cart/{{p.id}}">Add to cart</a>
            </div> 
            
        </div>
    </div>
{% endfor %}