{% extends "master.html.twig" %}
{% block title %}Cart{% endblock %}
{% block headAdd %}
    <link rel="stylesheet" href="/css/listing.css">
    <script>
        function increment(ID) {
            var value = $("input[name=quantity" + ID + "]").val();
            value++;
            $("input[name=quantity" + ID + "]").val(value);
            $("#update" + ID).show();
        }
        function decrement(ID) {
            var value = $("input[name=quantity" + ID + "]").val();
            if (value > 0) {
                value--;
            }
            $("input[name=quantity" + ID + "]").val(value);
            $("#update" + ID).show();
        }
        function update(e, ID) {
            e.preventDefault();
            var quantity = $("input[name=quantity" + ID + "]").val();
            $.get("/cart/update/" + ID + "/" + quantity, function () {
                console.log("quantity updated");
                $("#update" + ID).hide();
            });
            if (quantity == 0) {
                $("#itemrow" + ID).hide();
            }
        }
        $(document).ready(function () {
            $(".updateLink").hide();
            $('.cartQuantity').bind('propertychange change input paste', function () {
                var ID = $(this).attr('cartID');
                $("#update" + ID).show();
            });
        });
    </script>
{% endblock %}




{% block content %}
    <div class="container m-b-20">
        <div class="row center-block text-center">
            <div class="col-md-12 ">
                <a class="btn btn-primary" href="/order">Place order</a>
            </div>
        </div>
        {% for ci in cartitemList %}
            <div class="col-xs-12 col-md-6">

                <!-- First product box start here-->
                <div class="prod-info-main prod-wrap clearfix">

                    <div class="row">                        
                        <div class="col-md-5 col-sm-12 col-xs-12">

                            <div class="product-image">

                                <img src="/{{ci.imagePath}}" alt="" width="100" height="50" class="img-responsive">

                                <span class="tag2 hot">

                                    <i class="fa fa-shopping-cart"></i>

                                </span>
                                <span class="tag1">{{ci.status}}</span>
                            </div>

                        </div>

                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="product-deatil">
                                <h5 class="name">                                   
                                    {{ci.name}}                                                         
                                </h5>
                                <p class="price-container">
                                    <span>${{ci.price}}</span>
                                </p>
                                <span class="tag1"></span>
                            </div>                     
                            <div class="product-info smart-form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="cartQuantity" cartID="{{ci.ID}}" type="number" name="quantity{{ci.ID}}"
                                               value="{{ci.quantity}}" style="width:30px;">
                                        <button onclick="decrement({{ci.ID}})" class="btn btn-danger">-</button>
                                        <button onclick="increment({{ci.ID}})" class="btn btn-info">+</button>
                                        <br>
                                        <a href="" class="updateLink btn btn-warning" id="update{{ci.ID}}"
                                           onclick="update(event,{{ci.ID}} )">update</a>

                                    </div>
                                </div>
                                <br>


                            </div>
                        </div>
                    </div>

                </div>
                <!-- end product -->

            </div>
        {% endfor %}

    </div>


    <!-- end product -->
{% endblock %}