{% extends 'master.html.twig' %}

{% block title %}home page {% endblock %}

{% block content %}

    <div class="slider-area">
        <!-- Slider -->
        <div class="block-slider block-slider4">
            <ul class="" id="bxslider-home4">
                <li>
                    <img src="img/h4-slide.jpg" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            Season <span class="primary">6 <strong>Plus</strong></span>
                        </h2>
                        <h4 class="caption subtitle">Dual vision</h4>
                        <a class="caption button-radius" href="/shop"><span class="icon"></span>Shop now</a>
                    </div>
                </li>
                <li><img src="img/h4-slide2.jpg" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            by one, get one <span class="primary">50% <strong>off</strong></span>
                        </h2>
                        <h4 class="caption subtitle">special supplies.*</h4>
                        <a class="caption button-radius" href="/shop"><span class="icon"></span>Shop now</a>
                    </div>
                </li>
                <li><img src="img/h4-slide3.jpg" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            Shoe<span class="primary">Store <strong>promotion</strong></span>
                        </h2>
                        <h4 class="caption subtitle">Select Item</h4>
                        <a class="caption button-radius" href="/shop"><span class="icon"></span>Shop now</a>
                    </div>
                </li>
                <li><img src="img/h4-slide4.jpg" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            closing <span class="primary">luxry Store <strong>Closing</strong></span>
                        </h2>
                        <h4 class="caption subtitle">& Closing</h4>
                        <a class="caption button-radius" href="/shop"><span class="icon"></span>Shop now</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- ./Slider -->
    </div> <!-- End slider area -->

    <div class="promo-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo1">
                        <i class="fa fa-refresh"></i>
                        <p>30 Days return</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo2">
                        <i class="fa fa-truck"></i>
                        <p>Free shipping</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo3">
                        <i class="fa fa-lock"></i>
                        <p>Secure payments</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo promo4">
                        <i class="fa fa-gift"></i>
                        <p>New products</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End promo area -->

    <div class="maincontent-area">  
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Latest Items</h2>
                        <div class="product-carousel">

                            {% for p in list %}
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img src="/{{p.imagePath}}" alt="">
                                        <div class="product-hover">
                                            
                                             
                                            <a href="/cart/{{p.id}}" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                           <a href="/item/details/{{p.id}}"  class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        
                                        </div>
                                    </div>

                                   <h2><a onclick="window.location = '/item/details/{{p.id}}';">{{p.brand}}</a></h2>

                                    <div class="product-carousel-price">
                                        <ins>${{p.price}}</ins> <del>${{p.prvPrice}}</del>
                                    </div>                            
                                </div>
                            {% endfor %}
                            
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->

    <div class="brands-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand-wrapper">
                        <div class="brand-list">
                            <img src="img/brand1.png" alt="">
                            <img src="img/brand2.png" alt="">
                            <img src="img/brand3.png" alt="">
                            <img src="img/brand4.png" alt="">
                            <img src="img/brand5.png" alt="">
                            <img src="img/brand6.png" alt="">
                            <img src="img/brand1.png" alt="">
                            <img src="img/brand2.png" alt="">                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End brands area -->
{% endblock %}


 
