{% extends 'master.html.twig' %}

{% block title %}Problem {% endblock %}

{% block content %}
    <div style=" text-align: center; background-color: lightblue">
    <h3>Internal error</h3>
    <p>We've encountered an error. Our team of coding ninjas is already working on it. We apologize for the inconvenience. 
        Please <a href="/">Click to continue</a></p>
    <img src="/img/ninja.png" width="200">
    </div>
{% endblock %}