{% extends 'master.html.twig' %}

{% block title %}item details page {% endblock %}
{% block headAdd %}
    <script>
        $(document).ready(function () {
            $("#search").click(function () {
                var searchItem = $('input[name=searchItem]').val();
                alert("You have selected  - " + searchItem);
                window.location = ("/ajax/search/" + searchItem);
            });
        });
    </script>
{% endblock headAdd%}

{% block content %}
    <div style = "text-align: center">
        <input type="text" name ="searchItem" placeholder="Search products by brand">
        <input id="search" type="submit" value="Search">
    </div>       

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">                        
            <div class="col-12">
                <div class="product-content-right">

                    <div class="product-breadcroumb">    
                        <a href="/">Home</a>
                        <a href="">Clothing</a>                      
                        <a href="">{{v.name}}</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="product-images">
                                <div class="product-main-img" >                                    
                                    <img src="/{{v.imagePath}}" alt="">
                                    <span>Category: {{v.categoryName}}</span>
                                    

                                </div>
                            </div>
                            <div class="row"> 
                                <div class=" col-md-12">

                                    <div class="rating">Rating:

                                        <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>

                                        <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>

                                        <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>

                                        <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>

                                        <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <span  class="float-right">{{v.status}}</span><br>
                            <span>{{v.brand}}</span>

                        </div>
                        <div class="col-sm-4">
                            <div class="product-inner">
                                <h2 class="product-name">{{p.name}}</h2>
                                <div class="product-inner-price">
                                    <ins>${{v.price}}</ins> <del>${{v.prvPrice}}</del>
                                </div>    

                                <form class="cart" action="/cart" method="POST">
                                    <div class="quantity">
                                        <input type="hidden" name="itemID" value={{v.id}}>
                                        <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" step="1">
                                    </div>
                                    <button class="add_to_cart_button" type="submit">Add to cart</button>
                                </form> 
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-4">
                            <div role="tabpanel">
                                <ul class="product-tab" role="tablist">
                                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                                        <h2>Item Description</h2>  
                                        <p>{{v.description}}</p>

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="profile">
                                        <h2>Reviews</h2>
                                        <form method= "post" class="submit-review">
                                            <p><label for="name">Name</label> <input name="name" type="text"></p>
                                            <p><label for="email">Email</label> <input name="email" type="email"></p>
                                            <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                            <p><input type="submit" value="Submit"></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="maincontent-area">                       
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="latest-product">
                                    <h2 class="section-title">Related Items</h2>
                                    <div class="product-carousel">
                                        {% for p in list %}
                                            <div class="single-product">
                                                <div class="product-f-image">
                                                    <img src="/{{p.imagePath}}" alt="">
                                                    <div class="product-hover">
                                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                                        <a onclick="window.location = '/item/details/{{p.id}}';" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                                    </div>
                                                </div>

                                                <h2><a href="">{{p.brand}}</a></h2>

                                                <div class="product-carousel-price">
                                                    <ins>${{p.price}}</ins> <del>${{p.prvPrice}}</del>
                                                </div>                            
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}

