{% extends "master.html.twig" %}

{% block title %}login{% endblock %}

{% block headAdd %}
    <link rel="stylesheet" href="/css/login.css">
{% endblock %}


{% block content %}

    {% if error %}
        <p>Invalid login credentials, try again or <a href="/register">register</a></p>
    {% endif %}

    <form class="login100-form validate-form" method="post">
        <span class="login100-form-title p-b-55">Login</span>
        <div class="wrap-input100 validate-input m-b-16" >
            <input class="input100" type="email" name="email" placeholder="Email">		
        </div>
        <br>
        <div class="wrap-input100 validate-input m-b-16" >
            <input class="input100" type="password" name="password" placeholder="Password">
        </div>
        <br>

        <div class="container-login100-form-btn p-t-25">
            <button type="submit" class="login100-form-btn">Login</button>
          
        </div>
        <div class="text-center w-full p-t-42 p-b-22">
            <span class="txt1">Or login with</span>
        </div>

        <a href="#" class="btn-face m-b-10"><i class="fa fa-facebook-official"></i>Facebook</a>


        <div class="text-center w-full p-t-115">
            <span class="txt1">
                Not a member?
            </span>

            <a class="txt1 bo1 hov1" href="/register">Sign up now</a>
        </div>
    </form>

{% endblock %}
