{% extends "master.html.twig" %}

{% block title %}Placing order{% endblock %}

{% block headAdd %}
    <link rel="stylesheet" href="/css/register.css">
{% endblock %}


{% block content %}
    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}
    {# <p>Total value before tax is {{ totalBeforeTax }}.</p>
     <p>Shipping before tax is {{ shippingBeforeTax }}.</p>
     <p>Taxes (GST/QST/HST) {{ taxes }}. </p>
     <p>Final total with shipping and taxes (amount to be paid):
         <b>{{ totalWithShippingAndTaxes }}</b>.</p>#}

    <form name="myForm" class="form-horizontal" role="form"  method="post">
        <div class="form-group"> 
            <div class="list-group col-sm-offset-5 col-sm-3"> 

                <u>    
                    <li class="list-group-item"><pre>Subtotal: &#9;${{ totalBeforeTax }}</pre></li>
                    <li class="list-group-item"><pre>Shipping: &#9;${{ shippingBeforeTax }}</pre></li>
                    <li class="list-group-item"><pre>Taxes : &#9;${{ taxes }}</pre>(GST/QST/HST)</li>
                    <li class="list-group-item"><pre><b>Total: &#9;&#9;${{ totalWithShippingAndTaxes }}</b></pre></li>                   
                </u>

            </div>
        </div>   
        <div class="form-group">
            <label class="control-label col-sm-4" for="name"><span style="color:red;">*</span>Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="name" placeholder="Enter Your Name" name="name" value="{{sessionUser.name}}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="email"><span style="color:red;">*</span> Email:</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" id="email" placeholder="Enter Your Email" name="email" value="{{sessionUser.email}}">
            </div>
            <span class="errorMessage" id="isTaken"></span><br>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="address"><span style="color:red;">*</span> Address:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Enter your Address" name="address">
            </div>

        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="postalCode"><span style="color:red;">*</span> Postal Code:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Enter your Postal Code" name="postalCode">
            </div>

        </div>

        <div class="form-group">
            <label class="control-label col-sm-4" for="phone"><span style="color:red;">*</span> Phone number:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="phoneNumber" placeholder="Enter your phone" name="phoneNumber" >
            </div>
        </div>




        <div class="form-group">        
            <div class="col-sm-offset-5 col-sm-4">
                <button type="submit" class="btn btn-primary btn-block" name="btn-signup" id="signup">Place order</button>
            </div>
        </div>
    </form>

{% endblock %}