{% extends "master.html.twig" %}

{% block title %}registration {% endblock %}

{% block headAdd %}
    <link rel="stylesheet" href="/css/register.css">
     <script>
        // for user pleasant to tell him as he typing not after pressing submit
        $(document).ready(function(){
            $('input[name=email]').keyup(function(){
                var email = $('input[name=email]').val();
                $('#isTaken').load("/isemailregistered/"+email);           
            });
        });
    </script>  

    <script>
        $(document).ready(function () {
            $('input[name=email]').keyup(function () {
                var email = $('input[name=email]').val();
                $('#isTaken').load("/ajax/isemailregistered/" + email);
            });
        });
        
    </script>

{% endblock %}

{% block content %}   
    {% if errorList %}
        <ul class="errorMessage">
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <div data-spy="scroll" data-target=".navbar" data-offset="60">

        <div class="container">
            <div class="page-header">
                <h2>Sign Up</h2>
            </div>
            <form name="myForm" class="form-horizontal" role="form"  method="post">

                <div class="form-group">
                    <label class="control-label col-sm-4" for="firstname"><span style="color:red;">*</span> First Name:</label>
                    <div class="col-sm-6">
                        <input type="firstname" class="form-control" id="firstname" placeholder="Enter Your First Name" name="firstname">
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="lastname"><span style="color:red;">*</span> Last Name:</label>
                    <div class="col-sm-6">
                        <input type="lastname" class="form-control" id="lastname" placeholder="Enter Your Last Name" name="lastname">
                    </div>

                </div>
                
                 <div class="form-group">
                    <label class="control-label col-sm-4" for="email"><span style="color:red;">*</span> Email:</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="email" placeholder="Enter Your Email" name="email">
                    </div>
                    <span class="errorMessage" id="isTaken"></span><br>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="pwd1"><span style="color:red;">*</span> Password:</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="pwd1" placeholder="No special characters, at least one letter, one capital letter, one number" name="pwd1">
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="pwd2"><span style="color:red;">*</span> Password confirmation:</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="pwd2" name="pwd2">
                    </div>
                </div>

               

                <div class="form-group">        
                    <div class="col-sm-offset-5 col-sm-4">
                        <button type="submit" class="btn btn-primary btn-block" name="btn-signup" id="signup">Sign Up</button>
                    </div>
                </div>
            </form>
            <br /><br /><br />
        </div>
    </div>

{% endblock %}



