{% extends 'master.html.twig' %}

{% block title %}search result {% endblock %}

{% block content %}

    <div class="maincontent-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Search Result</h2>
                        <div class="product-carousel">
                            {% for p in item %}
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img src="/{{p.imagePath}}" alt="">
                                        <div class="product-hover">
                                            <a href="/cart/{{p.id}}" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            <a onclick="window.location = '/item/details/{{p.id}}';"  class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                            {#<button onclick="window.location='/item_details/{{p.id}}';">See details</button>#}
                                        </div>
                                    </div>
                                    <h2><a onclick="window.location = '/item/details/{{p.id}}';">{{p.brand}}</a></h2>

                                    <div class="product-carousel-price">
                                        <ins>${{p.price}}</ins> <del>${{p.prvPrice}}</del>
                                    </div>                            
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}