{% extends 'master.html.twig' %}

{% block title %}shop page {% endblock %}

{% block headAdd %}
    <script>
        function loadPage(pageNum) {
            $("#productsView").load('/ajax/items/page/' + pageNum);
        }
        $(document).ready(function () {
            loadPage(1);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="single-product-area">
        <div class="container">  
            <div id="productsView">
                
            </div>

            <div class="row" >
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                            <ul class="pagination">
                                {% for num in range(1, totalPages) %}
                                    <li> <button onClick="loadPage({{num}})">{{num}}</button> </li>
                                    {% endfor %}                                                     
                            </ul>
                        </nav>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
                                    
{% endblock %}